.about {
    display: flex;
    background: var(--second-bg-color);
}

.about .container{
display: flex;
align-items: center;
justify-content: center;

gap: 10rem;
}

.about-img img {
    width: 32vw;
    transition: 0.4s ease-in-out;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
}
.about-content p span {
    color: var(--main-color);
    font-size: 2rem;
    text-align: left;
    font-weight: 600;
}

.about-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}
.about-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.about-hobbies{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
}

.about .social-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.about .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: visible;
}

.about .social-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--main-color);
    transform: scale(0);
    transition: transform 0.3s;
    z-index: -1;
}

.about .social-icons a:hover::before {
    transform: scale(1);
}


.about .social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.about .tooltip {
    position: absolute;
    top: 120%;
    background-color: var(--bg-secundary-color);
    opacity: 0.9;
    color: inherit;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 15px;
    z-index: 10;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
  
.about .social-icons a:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width:1300px){ 
    .about{
        padding-bottom: 8rem;
    }
    .about-img{
       display: none;
    }
    .about .social-icons a {
    width: 5rem;
    height: 5rem;
}
}