.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
}

.logo span {
    color: var(--main-color);
}

.home-content h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 26vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.home-img img:hover {
    transform: rotate(5deg);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.home .social-icons{
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}
.home .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.home .social-icons a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--main-color);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    z-index: -1;
}

.home .social-icons a:hover::before {
    width: 100%;
    height: 100%;
}

.home .social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.home .btn-group{
    display: flex;
    gap: 2rem;
}


.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: var(--main-color);
    animation: words 10s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 5s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%, 25% {
        content: "FullStack Developer";
    }
    26%, 50% {
        content: "Data Analyst";
    }
    51%, 75% {
        content: "FullStack Developer";
    }
    76%, 100% {
        content: "Data Analyst";
    }
}

@keyframes typing {
    25%, 37.5%, 75%, 87.5% {
        width: 0;
    }
    12.5%, 50%, 62.5% {
        width: calc(100% + 8px);
    }
}

@media screen and (max-width:1300px){ 
    .home{
       gap: 2rem;
    }
    
}

@media screen and (max-width: 768px) {
    .home-img {
        display: none;
    }
    .home-content h2 {
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 3rem;
    }
    .home-content h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-top: 1.5rem;
        line-height: 1;
    }
}

@media screen and (max-width: 480px) {
    .home-content h2 {
        font-size: 2rem;
    }
    
    .home-content h1 {
        font-size: 4rem;
    }
    .home .btn-group{
        text-align: center;
    }
    .home .btn{
        align-content: center;
    }
}