.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 3rem;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem; 
}

@media screen and (max-width:1300px){ 
    .logo {
        display: none;
    }
    .header{
        display: flex;
        padding: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .container{
        gap: 15rem;
    }
    .header {
        padding: 10px;
        position: static;
    }
    .logo {
        display: block;
    }
    .navbar .nav-links{
        display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container{
        gap: 10rem;
    }
    .header{
        padding: 1rem;
    }
    .logo {
        font-size: 2rem;
    }
  }