.container{
    max-width: 1280px;
    margin: 0 auto;
}

.text-color{
    color: var(--main-color);
    text-shadow: 0 0 30px var(--main-color);
}

.btn , .btn-fill{
    display: inline-block;
    padding: 1rem 2.8rem;
    letter-spacing: 0.1rem;
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.btn::before, .btn-fill::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transition: left 0.3s;
    z-index: -1;
}

.btn:hover::before, .btn-fill:hover::before {
    left: 0;
}

.btn:hover , .btn-fill:hover{
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}

.btn-fill{
    background: var(--main-color);   
    color: #000;
}

@media screen and (max-width:1300px){ 
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 460px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 350px;
    }
}